<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Page</title>
</head>
<style>
      body{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<body>
  
    <h1>Sign Up</h1>
    <form action="/user" method="post">
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="firstname"><br><br>

        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lastname"><br><br>


        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>

        <label for="password">Confirm Password:</label><br>
        <input type="password" id="password" name="confirmPassword"><br><br>


        <label for="bod">Date of Birth:</label><br>
        <input type="date" id="bod" name="bod"><br><br>

        <input type="submit" value="Sign Up">
    </form>

</body>
</html>